:root {
  --cl-1: black;
  --cl-2: white;
  --cl-3: #F4CA16;
  --cl-4: #E60203;
  --cl-5: #F2F2F2;
  --cl-6: rgba(230, 2, 3, 0.05);
  --cl-7: #eaeaea;
  --cl-8: #ff6061;
  --cl-9: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "arm-bainsley-regular", sans-serif;
}
*:after *:before {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "arm-babes-regular";
  src: url("../assets/fonts/armBebas.ttf") format("truetype");
}
@font-face {
  font-family: "arm-bainsley-regular";
  src: url("../assets/fonts/bainsley/Bainsley.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cl-5);
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  overflow: hidden;
}

.button-1 {
  border-radius: 10px;
  border: 2px solid var(--cl-4);
  font-size: 15px;
  line-height: 100%;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out;
  background: transparent;
}
.button-1:hover {
  border: 2px solid var(--cl-3);
  background: var(--cl-6);
}

.loader {
  width: 60px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--cl-2);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
header {
  width: 100%;
  position: sticky;
  top: 10px;
  z-index: 999;
}
header .container {
  padding: 5px 40px;
  border-radius: 15px;
  margin-top: 30px;
  background: var(--cl-7);
  -webkit-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.11);
}
header .container-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .container-inner .logo {
  position: relative;
  user-select: none;
  cursor: pointer;
}
header .container-inner .logo img {
  width: 180px;
  pointer-events: none;
  user-select: none;
}
header .container-inner .info {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .container-inner .info .menu {
  display: flex;
  align-items: center;
}
header .container-inner .info .menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}
header .container-inner .info .menu ul li a {
  color: var(--cl-1);
  line-height: 100%;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}
header .container-inner .info .menu ul li a:hover {
  color: var(--cl-3);
}
header .container-inner .info button {
  display: flex;
  align-items: center;
  padding: 8px 15px;
}

.primary-header {
  width: 100%;
  padding: 10px;
}
.primary-header .container-inner {
  display: flex;
  padding: 100px 0 20px 0;
  position: relative;
  gap: 20px;
}
.primary-header .container-inner .title {
  width: 65%;
}
.primary-header .container-inner .title h1 {
  font-size: 3.5em;
  margin: 30px 0 20px 0;
}
.primary-header .container-inner .title p {
  margin-bottom: 20px;
}
.primary-header .container-inner .title button {
  padding: 12px 25px;
  border-radius: 10px;
  background: var(--cl-4);
  border: none;
  color: var(--cl-2);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 100%;
}
.primary-header .container-inner .title button:hover {
  background-color: var(--cl-8);
}
.primary-header .container-inner .title button:active {
  background-color: var(--cl-4);
}
.primary-header .container-inner .background {
  width: 45%;
  position: relative;
}
.primary-header .container-inner .background .background-inner {
  display: flex;
  justify-content: flex-end;
  height: 500px;
}
.primary-header .container-inner .background .background-main-images {
  position: relative;
  width: 100%;
  height: 100%;
}
.primary-header .container-inner .background .background-main-images img {
  position: absolute;
  pointer-events: none;
  user-select: none;
}
.primary-header .container-inner .background .background-main-images img:nth-child(1) {
  height: 90%;
  transform: rotate(-40deg);
  z-index: -1;
  top: -30px;
}
.primary-header .container-inner .background .background-main-images img:nth-child(2) {
  height: 100%;
  z-index: 0;
  right: 0;
  bottom: -10px;
}

.advantages {
  width: 100%;
  padding: 0 10px;
}
.advantages .container-inner {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.advantages .container-inner .adv-block {
  width: calc(25% - 20px);
  aspect-ratio: 1/1;
  padding: 10px 20px;
  background-color: var(--cl-7);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.advantages .container-inner .adv-block:hover .img img {
  transform: scale(1.05);
}
.advantages .container-inner .adv-block strong {
  margin: 10px 0;
  font-size: 17px;
  line-height: 100%;
}
.advantages .container-inner .adv-block p {
  font-size: 15px;
  text-align: center;
}
.advantages .container-inner .adv-block .img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.advantages .container-inner .adv-block .img img {
  width: 100%;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  transition: transform 0.2s ease-in-out;
}

.food-menu {
  background-color: #ffffff;
  padding: 60px 20px;
}
.food-menu .container-inner h2 {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 100%;
}
.food-menu .menu-items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.food-menu .menu-items .menu-item {
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid rgba(224, 224, 224, 0.3);
  border-radius: 20px;
  padding: 20px;
  max-width: calc(25% - 20px);
  width: 100%;
}
.food-menu .menu-items .menu-item:hover .menu-image img:nth-child(2) {
  transform: scale(1.03);
}
.food-menu .menu-items .menu-item .menu-image {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.food-menu .menu-items .menu-item .menu-image img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  user-select: none;
  pointer-events: none;
}
.food-menu .menu-items .menu-item .price-and-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-menu .menu-items .menu-item .price-and-buy button {
  border-radius: 5px;
  padding: 6px 15px;
  line-height: 100%;
  outline: none;
  border: none;
  background-color: var(--cl-4);
  color: var(--cl-2);
  transition: background-color 0.2s ease-in-out;
}
.food-menu .menu-items .menu-item .price-and-buy button:hover {
  background-color: var(--cl-8);
}
.food-menu .menu-items .menu-item .price-and-buy button:active {
  background-color: var(--cl-4);
}
.food-menu .menu-items .menu-item strong {
  display: block;
  font-size: 20px;
  color: var(--cl-4);
  margin-bottom: 10px;
  text-align: center;
}
.food-menu .menu-items .menu-item p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 110%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.food-menu .menu-items .menu-item .price {
  font-size: 18px;
  color: var(--cl-4);
  font-weight: bold;
  font-family: arial, sans-serif;
  line-height: 100%;
}

.modal-product {
  width: 100%;
  height: 100dvh;
  position: fixed;
  display: none;
  z-index: 1000;
  top: 0;
  background-color: var(--cl-9);
  padding: 10px;
}
.modal-product .container {
  height: 100%;
}
.modal-product .container-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.modal-product .container-inner .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-product .container-inner .modal {
  position: relative;
  display: none;
  opacity: 0;
  align-items: center;
  margin-top: 100px;
  top: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--cl-2);
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.modal-product .container-inner .modal .modal-top-banner {
  display: flex;
  justify-content: flex-end;
}
.modal-product .container-inner .modal .modal-top-banner button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.7em;
}
.modal-product .container-inner .modal .modal-top-banner button i {
  color: var(--cl-4);
  transition: color 0.2s ease-in-out;
}
.modal-product .container-inner .modal .modal-top-banner button i:hover {
  color: var(--cl-8);
}
.modal-product .container-inner .modal .modal-top-banner button i:active {
  color: var(--cl-4);
}
.modal-product .container-inner .modal .modal-content {
  display: flex;
}
.modal-product .container-inner .modal .modal-content .modal-image {
  display: flex;
  align-items: center;
  height: 100%;
}
.modal-product .container-inner .modal .modal-content .modal-content-info {
  width: 100%;
  padding: 20px;
}
.modal-product .container-inner .modal .modal-content .modal-content-info h2 {
  margin-bottom: 10px;
  line-height: 100%;
  font-size: 2em;
}
.modal-product .container-inner .modal .modal-content .modal-content-info .modal-product-price {
  color: var(--cl-4);
  margin: 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.modal-product .container-inner .modal .modal-content .modal-content-info button {
  border-radius: 5px;
  padding: 6px 15px;
  line-height: 100%;
  outline: none;
  border: none;
  background-color: var(--cl-4);
  color: var(--cl-2);
  transition: background-color 0.2s ease-in-out;
}
.modal-product .container-inner .modal .modal-content .modal-content-info button:hover {
  background-color: var(--cl-8);
}
.modal-product .container-inner .modal .modal-content .modal-content-info button:active {
  background-color: var(--cl-4);
}
.modal-product .container-inner .modal.active {
  top: 0;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
